page-login {
    .card-header{
        text-align: center;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
    }
    .card-input{
        background-color: color($colors, background)
    }
    .vertical-align-content > *{
        display: flex;
        align-content: center;
        align-items: center;
        vertical-align: middle;
    }
}
