<!--
  Generated template for the QuestionnairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Auto-Avaliação · {{category.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid style="align-items: stretch">
    <ion-row>
      <ion-card text-wrap *ngFor="let questionnaire of category.questionnaire">
        <ion-card-header color="primary">{{questionnaire.pillar}}</ion-card-header>
        <ion-grid>
          <div padding *ngFor="let sector of questionnaire.sectors">
            <p class="sector">
              <br>
              <b>{{sector.sectorId}}</b> · {{sector.sectorDescription}}</p>
            <ion-row *ngFor="let question of sector.questions">
              <ion-col no-padding [ngSwitch]=question.answerType>
                <p>
                  <br>
                  <b>{{question.questionId}}</b>. {{question.questionText}}</p>
                <br>
                <ion-buttons *ngSwitchCase="'boolean'">
                  <button ion-button mini class="booleanButton" color="secondary" (click)="optionPressed($event)" color="secondary" value=true>
                    <ion-icon name="checkmark"></ion-icon>
                  </button>
                  <button ion-button mini class="booleanButton" color="danger" (click)="optionPressed($event)" color="danger" value=false>
                    <ion-icon name="close"></ion-icon>
                  </button>
                </ion-buttons>
                <div *ngSwitchCase="'options'">
                  <ion-select interface="popover" placeholder="selecione" (ionChange)="getAnswer($event)">
                    <ion-option text-wrap *ngFor="let questionOptions of question.questionOptions" value={{questionOptions.option}}>
                      {{questionOptions.option}}
                    </ion-option>
                  </ion-select>
                </div>
                <ion-input *ngSwitchCase="'integer'" type="number" (blur)="getInput($event)"></ion-input>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-card>
    </ion-row>
    <ion-row>
      <button ion-button full outline>Concluir</button>
    </ion-row>
  </ion-grid>
</ion-content>