page-user-profile {
    .card-header{
        text-align: center;
        text-transform: uppercase;
        color: color($colors, background);
    }
    .card-label{
        background-color: color($colors, background);
    }
}
