page-intro {
    h2.slider-title{
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px 1px #ffffff;
    }
    img.slider-img{
        width: 150px;
        height: 100%;
    }
    p.slider-text{
        color:rgba(0, 0, 0, 0.75);
    }
}
